$gold:#8e774d;
@include text-emphasis-variant('.text-gold', $gold);

/* loading */

.pulled-left {
    color: $black;
    font-weight: 600;
    font-size: 1.3rem;
}

.white-overlay .loading {
    margin-top: 25%;
    margin-left: 43%;
}


/* loading */