@import '../../../../styles/app';

/* Notification */

.status-list {
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.status-plateno {
    font-size: 70%;
}

.status-date {
    font-size: 70%;
}